@model List<BBGymManagement.MVVM.ProductViewModel>
@{
    ViewBag.Title = "GymMembership";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GymMembership</h2>
<div class="container-fluid">
    @{
        foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card" style="width: 15rem;">
                        <a href="/Product/Detail/@item.Id">
                            <img src="@item.ImageUrl" class="img-fluid img-thumbnail img-responsive" alt="@item.Name">
                        </a>
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text" style="font-weight:bold;">@item.Price $</p>
                        <a href="/Home/Checkout/@item.Id" class="btn btn-primary">Buy</a>
                    </div>
                </div>
            </div>
        }
    }
</div>
