
@{
    ViewBag.Title = "CheckoutCompleted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Checkout Completed</h2>

<div class="bg-success text-center">
    <label class="text-primary">Your order is complete</label><br />
    <label class="text-primary">You can check it in the My Orders section.</label><br />
    <label class="text-primary">@TempData["CheckoutCompleted"]</label>

</div>