@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    BBGym Managment<br />
    Krakow<br />
    <abbr title="Phone">P:</abbr>
    000 000 000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">BBGym@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">BBGym@gmail.com</a>
</address>
